.mat-sidenav-container{
    height: 100%;
}

.mat-sidenav, .mat-sidenav-content{
    padding: 16px;
}

.mat-sidenav{
    border-right-color: rgb(53, 53, 53);
}

.mat-sidenav-content{
    background-color: white;
}