.mat-sidenav-container{
    position: relative;
    // height: 100%;
}

.mat-sidenav,
.mat-sidenav-content {
  padding: 16px;
}

.mat-sidenav{
    border-right-color: rgb(53, 53, 53);
    background-color: white;
    width: 200px;
    color: black;
    // display: block;
}

.mat-sidenav-content {
  background-color: white;
  color: black;
}

.mat-icon-button {
  background-color: rgb(216, 216, 216);
  border-color: black;
}

.project-filter-icon {
  margin-left: 7px;
}
