$elementsMainColor: #212121;

.designedButton {
  margin: 15px;
  padding: 7px;
  background-color: white;
  border: 2px solid $elementsMainColor;
  color: $elementsMainColor;
  border-radius: 12px;
  font-size: 115%;
}

.designedButton:hover {
  background-color: $elementsMainColor;
  color: black;
}

table {
  width: 100%;
  color: $elementsMainColor;
}

.controll {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
