<form class="form-container">
  <div>
    <h1 class="title"> Contact us</h1>
    <div class="divDisplayContacts">
      <button mat-fab [disabled]>
        <mat-icon>mail</mat-icon>
      </button>
      <p class="pDisplayContacts"> Email: nkj@gmail.com</p>
    </div>
    <br>
    <div class="divDisplayContacts">
      <button mat-fab [disabled]>
        <mat-icon>mic</mat-icon>
      </button>
      <p class="pDisplayContacts">Skype: jnflrnl</p>
    </div>
    <br>
    <div class="divDisplayContacts">
      <button mat-fab [disabled]>
        <mat-icon>call</mat-icon>
      </button>
      <p class="pDisplayContacts">Phone: +380995478655</p>
    </div>
  </div>
</form>