div.container {
  width: 100%;
  height: 100%;
  
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

div.header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

span.header {
  font-size: 64px;
}
