/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$elementsMainColor: rgb(115, 1, 180);
$elementsSecondaryColor: rgb(66, 66, 66);

html, body {
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-form-field-appearance-legacy .mat-focused .mat-form-field-label {
    color: $elementsSecondaryColor;
  }
  
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: $elementsSecondaryColor;
  }
 
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $elementsSecondaryColor;
    color: $elementsSecondaryColor;
  }
  
  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: $elementsMainColor;
    color: $elementsMainColor;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $elementsMainColor;
    color: $elementsMainColor;
  }
  
  .mat-form-field-appearance-legacy .mat-form-field-empty.mat-form-field-label {
    color: $elementsSecondaryColor;
  }

  .mat-form-field.mat-focused .mat-form-field-label{
    color: $elementsSecondaryColor;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-label{
    color: $elementsSecondaryColor;
  }

  .mat-snack-bar-container{
    background: rgb(115, 1, 180);
    color: white;
    font-family: Roboto;
}