<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      fixedInViewport="false"
      [ngClass]="{hidden : !(isHandset$ | async)}" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    
    <mat-nav-list>
      <a mat-list-item routerLink="/projects">Projects</a>
      <a mat-list-item routerLink="/developers">Developers</a>
      <a mat-list-item routerLink="/support">Support</a>
      <a mat-list-item routerLink="/administration">Admin Page</a>
      <a mat-list-item routerLink="/account"  style="position: absolute; bottom: 0;">Account</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" style="margin-right: 30px;">menu</mat-icon>
      </button>

      <span style="font-size: 40px; margin-right: 20px;">
        <a routerLink="#" class="logo">eFolio</a>
      </span>
      
      <span *ngIf="!(isHandset$ | async)">
          <a class="menuItem" routerLink="/projects">Projects</a>
          <a class="menuItem" routerLink="/developers">Developers</a>
          <a class="menuItem" routerLink="/support">Support</a>
          <a class="menuItem" routerLink="/administration">Admin Page</a>
      </span>
      <span class="spacer"> </span>
      <a  class="menuItem" *ngIf="!(isHandset$ | async)" routerLink="/account">Account</a>
        
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
