.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav-content {
  background-color: white;
  color: black;
}

.hidden{
  display: none;
}

.mat-sidenav{
  width: 200px;
}

.menuItem{
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 100;
}

.spacer{
  flex: 1 1 auto;
}

.logo{
  color: white; 
  text-decoration: none;
}