$elementsMainColor: rgb(115, 1, 180);
$elementsSecondaryColor: rgb(66, 66, 66);


::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $elementsSecondaryColor !important;
}

::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: $elementsSecondaryColor !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: $elementsSecondaryColor !important;
    color: $elementsSecondaryColor !important;
} 
  
::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: $elementsMainColor !important;
    color: $elementsMainColor !important;
}

::ng-deep.mat-form-field-empty.mat-form-field-label {
    color: $elementsSecondaryColor !important;
}

.form-container{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.mat-raised-button
{
    background-color: $elementsMainColor;
}