<div class="allComponentContainerDesktop">
    <h1 class="pageTitleDesktop">Welcome to eFolio</h1>
    <div class="pageInfo">Want to see more information? Create new account or sign in</div>
    <div class="authContainer">
        <p class="separator">
            <app-sign-up></app-sign-up>
        </p>
        <p>
            <app-sign-in></app-sign-in>
        </p>
    </div>
</div>

<div class="allComponentContainerMobile">
    <h1 class="pageTitleMobile">Welcome to eFolio</h1>
    <div class="pageInfo">Want to see more information? Create new account or sign in</div>
    <div class="registerContainer" *ngIf="signUp">
        <app-sign-up></app-sign-up>
        <div class="linkContainer">
            Already have an account? Go to&nbsp;<a class="navigateLink" (click)="signUp=false">Sign In</a>!
        </div>
    </div>
    <div class="loginContainer" *ngIf="!signUp">
        <app-sign-in></app-sign-in>
        <div class="linkContainer">
            Don't have an account? Go to&nbsp;<a class="navigateLink" (click)="signUp=true">Sign Up</a>!
        </div>
    </div>
</div>