$elementsMainColor: rgb(115, 1, 180);

.all-component-container-desktop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-component-container-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-container, .login-container {
  width: 100%;
}

.separator {
  border-right: 1px solid #ccc;
  margin-right: 40px;
  padding-right: 40px;
  padding-top: 0;
  width: 60%;
}

div.auth-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  p {
    width: 40%;
  }
}

.page-title-desktop {
  color: rgb(22, 13, 31);
  font-size: 250%;
  font-weight: 1;
  padding-top: 10pt;
  margin-top: 10px;
  margin-bottom: 8px;
}

.page-title-mobile {
  color: rgb(22, 13, 31);
  font-size: 180%;
  font-weight: 120;
  padding-top: 10pt;
}

.navigate-link {
  color: $elementsMainColor;
}

.link-container {
  display: flex;
  justify-content: center;
}

.link-container :hover {
  cursor: pointer;
}

.page-info {
  color: $elementsMainColor;
  padding: 15px;
  font-size: 110%;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .all-component-container-mobile {
    display: none;
  }

  .auth-container {
    display: flex;
    flex-direction: row;
    width: 70%;
  }

  .all-component-container-desktop {
    display: flex;
  }
}

@media screen and (max-width: 999px){
  .all-component-container-mobile {
    display: none;
  }

  .auth-container {
    display: flex;
    flex-direction: row;
    width: 90%;
  }

  .all-component-container-desktop {
    display: flex;
  }
}

@media (max-width: 699px) {
  .all-component-container-desktop {
    display: none;
  }
  
  .all-component-container-mobile {
    display: flex;
  }
}
